<nav class="sidebar" [ngClass]="{'lg:z-[9]': true, 'z-[10]': true}">
  <div class="h-full bg-white dark:bg-darklight" [ngClass]="{
      'group-data-[sidebar=dark]/item:bg-darklight': true,
      'group-data-[sidebar=brand]/item:bg-sky-950': true
  }">
    <div class="p-4">
      <a routerLink="/" class="w-full main-logo">
        <img src="assets/images/logo-rhsi.png" class="mx-auto dark-logo h-7 logo dark:hidden" alt="logo" />
        <img src="assets/images/logo-rhsi-mini.png" class="hidden mx-auto logo-icon h-7" alt="">
      </a>
    </div>
    <div class="h-[calc(100vh-60px)] overflow-y-auto overflow-x-hidden px-5 pb-4 space-y-16 detached-menu">
      <ul class="relative flex flex-col gap-1" [attr.x-data]="'sidebarMenu'">
        <ng-container *ngFor="let group of menuItems">
          <h2 class="my-2 text-sm text-black/50 dark:text-slate-100/30 group-data-[sidebar=dark]/item:text-white/30 group-data-[sidebar=brand]/item:text-sky-200/50">
            <span>{{ group.label }}</span>
          </h2>
          <li class="menu nav-item" *ngFor="let item of group.items">
            <ng-container *ngIf="item.submenu; else singleLink">
              <a href="javascript:void(0);" class="items-center justify-between text-black nav-link group" [ngClass]="{ 'active': isActive(item) }" (click)="toggle(item)">
                <div class="flex items-center">
                  <svg *ngIf="item.icon" [attr.xmlns]="'http://www.w3.org/2000/svg'" viewBox="0 0 24 24" class="w-5 h-5">
                    <path *ngIf="item.icon" [attr.d]="item.icon" fill="currentColor"></path>
                  </svg>
                  <span class="ltr:pl-1.5 rtl:pr-1.5">{{ item.label }}</span>
                </div>
                <div class="flex items-center justify-center w-4 h-4 dropdown-icon" [ngClass]="{ '!rotate-180': isActive(item) }">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6">
                    <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" fill="currentColor"></path>
                  </svg>
                </div>
              </a>
              <ul *ngIf="isActive(item)" class="flex flex-col gap-1 text-black dark:text-slate-100/60 sub-menu">
                <li *ngFor="let subItem of item.submenu">
                  <a [routerLink]="subItem.link" [ngClass]="{ 'active': currentPath === subItem.link }">{{ subItem.label }} <span *ngIf="subItem.new" class="inline-block px-2 py-1 text-xs leading-none text-pink-500 rounded bg-pink-500/10 ltr:ml-3 rtl:mr-3">
                      New
                    </span></a>
                </li>
              </ul>
            </ng-container>
            <ng-template #singleLink>
              <a [routerLink]="item.link" class="nav-link group !mb-0" routerLinkActive="active" [ngClass]="{ 'active': isActive(item) }" (click)="toggle(item)">
                <div class="flex items-center">
                  <svg *ngIf="item.icon" [attr.xmlns]="'http://www.w3.org/2000/svg'" viewBox="0 0 24 24" class="w-5 h-5">
                    <path *ngIf="item.icon" [attr.d]="item.icon" fill="currentColor"></path>
                  </svg>
                  <span class="ltr:pl-1.5 rtl:pr-1.5">{{ item.label }}</span>
                </div>
              </a>
            </ng-template>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>