<nav class="w-full mb-4">
  <ul class="space-y-2 detached-breadcrumb">
    <li class="text-xs dark:text-slate-100/80">Sliced</li>
    <li class="text-xl font-semibold text-black dark:text-slate-100">Chart</li>
  </ul>
</nav>
<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Line Chart</h2>
      <app-line-chart></app-line-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Area Chart</h2>
      <app-area-chart></app-area-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Bar Chart</h2>
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Simple Bar</h2>
      <app-simplebar-chart></app-simplebar-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Bar Chart</h2>
      <app-bar-two-chart></app-bar-two-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Spline Area Charts</h2>
      <app-spline-area-charts></app-spline-area-charts>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Basic Donut</h2>
      <app-basic-donut-chart></app-basic-donut-chart>
    </div>
    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
      <h2 class="mb-4 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Doughnut chart</h2>
      <app-doughnut-chart></app-doughnut-chart>
    </div>
  </div>
</div>
<!-- End All Card -->